<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img :src="image" 
                style="height: 500px; width: 500px;"
                @mouseover="changeImage">
            </div>

            <div class="product-info">
                <h1>{{ nameComp }}</h1>
                <p>{{ description }}</p>
                <p v-if="stress_level >= 100">Self Destucting</p>
                <p v-else-if="stress_level > 80">Warning stress level is almost 100</p>
                <p v-else>Cool Headed</p>

                <ul>
                    <li v-for="car in cars">{{ car }}</li>
                </ul>

                <from @submit.prevent="onSubmit">
                    <div>
                        <label for="name">Name:</label>
                        <input id="name" v-model="name">
                    </div>

                    <div>
                        <label for="product">Product:</label>
                        <input id="product" v-model="product">
                    </div>

                    <div>
                        <label for="stress_level">Stress Level:</label>
                        <select id="stress_level" v-model.number="stress_level">
                            <option>100</option>
                            <option>90</option>
                            <option>70</option>
                            <option>50</option>
                            <option>30</option>
                            <option>0</option>
                        </select>
                    </div>
                </from>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>